$main_font: 'Poppins', sans-serif;
$white: #FFFFFF;
$black: #000000;
$main_color: #181818;
$container_width: 1200px;


@mixin fontStyle{
  font-family: $main_font;
  font-style: normal;
  font-weight: 400;
}
@mixin flex{
  display: flex;
  box-sizing: border-box;
}
@mixin flex_marginAuto{
  margin: auto;
  display: flex;
  box-sizing: border-box;
}
@mixin flex_spaceBetween{
  max-width: $container_width;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  margin: auto;
}
@mixin container{
  max-width: $container_width;
  margin: auto;
  box-sizing: border-box;
}
@mixin columnFlex{
  display: flex;
  flex-direction: column;
}

body{
  @include fontStyle;
  overflow-x: hidden;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}
header{
  padding: 24px 0;
  background: $main_color;
  position: absolute;
  z-index: 2;
  width: 100%;
  margin: auto;
  .container{
    @include flex_spaceBetween;
  }
  ul{
    @include flex_spaceBetween;
    align-items: center;
  }
  a{
    font-size: 15px;
    line-height: 20px;
    color: $white;
  }
  li{
    margin-left: 32px;

  }
}
.nav__list-item{
  a{
    padding: 12px 19px;
    border-radius: 14px;
    border: 1px solid $main_color;
    &:hover{
      border: 1px solid $white;
    }
  }
}
.a_button a{
  background: $white;
  color: black;
  &:hover{
    border: 1px solid $white;
    background: $main_color;
    color: $white;
  }
}
.aperture_studios{
  background-image: url("../images/aperture_studios_bg.png");
  background-size: cover;
  height: 100vh;
  position: relative;
  @include columnFlex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.aperture_studios_info{
  @include columnFlex;
  max-width: 600px;
  align-items: center;
  text-align: center;
  margin: 0 0 70px 0;
}
.aperture_studios_decor{
  position: absolute;
  bottom: 40px;
  right: 40px;
  ul{
    @include flex;
    font-size: 12px;
    line-height: 12px;
    color: $white;
    justify-content: flex-end;
  }
  li{
    margin-left: 16px;
    @include flex;
  }
}
.aperture_studios_info{
  h2{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
  }
  h1{
    font-size: 54px;
    line-height: 59px;
    color: $white;
  }
  p{
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-top: 18px;
  }
}
.decor_delay, .decor_mode, .decor_iso, .decor_place{
  &:before{
    margin-right: 6px;
  }
}
.decor_delay:before{
  content: url("../images/delay.svg");
}
.decor_mode:before{
  content: url("../images/mode.svg");
}
.decor_iso:before{
  content: url("../images/iso.svg");
}
.decor_place:before{
  content: url("../images/place.svg");
}
.what_we_do{
  background: $black;
  padding: 120px 0 100px;
  .container{
    max-width: 1168px;
    @include columnFlex;
    margin: auto;
    padding: 0;
  }
  h2{
    font-size: 40px;
    line-height: 42px;
    color: $white;
    margin-bottom: 15px;
    align-self: center;
  }
  p{
    font-size: 23px;
    line-height: 30px;
    color: #C0C0C0;
    margin-bottom: 26px;
    align-self: center;
  }
}
.what_we_do_articles{
  @include flex_spaceBetween;
  flex-wrap: wrap;
  padding: 0 16px 0 16px;
}
article{
  @include flex_spaceBetween;
  @include columnFlex;
  position: relative;
  max-width: 576px;
  width: 100%;
  height: 600px;
  margin-top: 16px;
  .a_button{
    @include flex;
    max-width: 145px;
    align-items: center;
    width: 100%;
    padding: 5px 4px;
    a{
      @include flex;
      align-items: center;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 0.4px;
      &:before{
        @include flex;
        content: '';
        background: $black;
        height: 32px;
        width: 32px;
        border-radius: 16px;
        margin-right: 6px;
      }
    }
  }
}
.product_photography, .architecture_photography, .drone_photography, .wildlife_photography{
  background-size: cover;
  .article_info{
    box-sizing: border-box;
    position: absolute;
    bottom: 30px;
    left: 30px;
    h4{
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $white;
      margin-bottom: 15px;
    }
    p{
      font-size: 14px;
      line-height: 20px;
      color: #C0C0C0;
      margin-bottom: 21px;
    }
  }
}
.product_photography{
  background-image: url("../images/product_photography_bg.png");
  .article_info{
    max-width: 501px;
  }
}
.architecture_photography{
  background-image: url("../images/architecture_photography_bg.png");
  .article_info{
    max-width: 514px;
  }
}
.drone_photography{
  background-image: url("../images/drone_photography_bg.png");
  .article_info{
    max-width: 516px;
  }
}
.wildlife_photography{
  background-image: url("../images/wildlife_photography_bg.png");
  .article_info{
    max-width: 480px;
  }
}
.past_clients{
  padding: 120px;
  background: $black;
  @include columnFlex;
  align-items: center;
  h3{
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: $white;
    margin-bottom: 15px;
  }
  h4{
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 80px;
  }
}
.owl-carousel{
  width: 1168px;
  align-content: center;
  position: relative;
}
.owl-carousel .owl-item img{
  display: inline-block;
  margin: auto;
}
.owl-carousel.owl-drag .owl-item {
  display: flex;
  justify-content: center;
}
.owl-carousel .owl-stage{
  display: flex;
  align-items: center;
}
.owl-carousel button.owl-dot span{
  display: inline-flex;
  width: 14px;
  height: 14px;
  background: #C0C0C0;
  border-radius: 14px;
}
.owl-dots{
  display: flex;
  width: 112px;
  justify-content: space-evenly;
  align-self: center;
  margin-top: 50px;
}
.no-js .owl-carousel, .owl-carousel.owl-loaded{
  display: flex;
  flex-direction: column;
  align-content: center;
}
.owl-nav{
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 25%;
  width: 100%;
}
.owl-carousel button.owl-dot.active span{
  background: #000000;
  border: #FFFFFF 4px solid;
}
.owl-nav .owl-next:after, .owl-nav .owl-prev:after{
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  content: "\f078";
  color: #FFFFFF;
}
.owl-nav .owl-next{
  transform: rotate(270deg);
}
.owl-nav .owl-prev{
  transform: rotate(90deg);
}

//.nav__list-item a {
//  font-size: 15px;
//  line-height: 20px;
//  color: #FFFFFF;
//}
.ui-accordion .ui-accordion-content{
  padding: 0;
}

.ui-accordion-content{
  max-width: 1168px;
  display: flex;
  background: #000000;
  margin: auto;
  border: none;
  justify-content: space-between;
  padding: 0 0 0 0;
}
.ui-accordion .ui-accordion-header{
  background-color: transparent;
  border: none;
  text-align: center;
}
.ui-accordion .ui-accordion-header.ui-state-hover .ui-icon{
  background-image: none;
}
@keyframes slide_right {
  0%{
    left: -15px;
  }
  100%{
    left: 0px;
  }
}
.ui-state-active .ui-icon, .ui-button:active .ui-icon, .ui-icon, .ui-widget-content .ui-icon{
  background-image: none;
  background-position: 0;
  text-indent: 0;
  margin: 0;
  position: relative;
  top: 0px;
  left: -10px;
  display: inline-block;
  transform: rotate(-90deg);
  animation: slide_right 1s infinite;
}
.ui-icon:after{
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  content: "\f078";
}
@keyframes slide {
  0%{
    top: -15px;
  }
  100%{
    top: 0px;
  }
}
.ui-accordion-header.ui-state-active .ui-icon{
  transform: rotate(0deg);
  top: -5px;
  animation: slide 1s infinite;
}
.section {
  position: relative;
  width: 100%;
  display: block;
}
.over-hide{
  overflow: hidden;
}
.full-height {
  height: 100vh;
}

/* #Navigation
================================================== */

.cd-header{
  position: fixed;
  width:100%;
  top:0;
  left:0;
  z-index:100;
}
.header-wrapper{
  position: relative;
  width: calc(100% - 100px);
  margin-left: 50px;
}
.logo-wrap {
  position: absolute;
  display:block;
  left:0;
  top: 40px;
  cursor: pointer;
}
.logo-wrap a {
  cursor: pointer;
  transition : all 0.3s ease-out;
}
.logo-wrap a span{
  color: #8167a9;
}
.logo-wrap a:hover {
  opacity: 0.9;
}
.nav-but-wrap{
  position: relative;
  display: none;
  float: right;
  padding-left: 15px;
  transition : all 0.3s ease-out;
  z-index: 4;
}
@media only screen and (max-width: 767px) {
  .nav-but-wrap{
    display: inline-block;
  }
}
.menu-icon {
  height: 30px;
  width: 30px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: block;
}
.menu-icon__line {
  height: 2px;
  width: 30px;
  display: block;
  background-color: #fff;
  margin-bottom: 7px;
  cursor: pointer;
  -webkit-transition: background-color .5s ease, -webkit-transform .2s ease;
  transition: background-color .5s ease, -webkit-transform .2s ease;
  transition: transform .2s ease, background-color .5s ease;
  transition: transform .2s ease, background-color .5s ease, -webkit-transform .2s ease;
}
.menu-icon__line-left {
  width: 16.5px;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.menu-icon__line-right {
  width: 16.5px;
  float: right;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}
.menu-icon:hover .menu-icon__line-left,
.menu-icon:hover .menu-icon__line-right {
  width: 30px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
  left: 0;
  top: 0;
}
@media only screen and (max-width: 767px) {
  .nav {
    position: fixed;
  }
}
.nav:before, .nav:after {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(20, 21, 26,0.6);
  border-bottom-left-radius: 200%;
  z-index: -1;
  -webkit-transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
  transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
  -webkit-transform: translateX(100%) translateY(-100%);
  transform: translateX(100%) translateY(-100%);
}
.nav:after {
  background: rgba(9,9,12,1);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.nav:before {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}
.nav__content {
  position: static;
  visibility: inherit;
  top: 0;
  -webkit-transform: none;
  transform: none;
  width: 100%;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .nav__content{
    position: fixed;
    visibility: hidden;
    top:50%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    margin-top: 20px;
  }
}
.nav__list {
  display: flex;
  position: relative;
  padding: 0;
  margin: 0;
  z-index: 2;
}
.nav__list-item {
  position: relative;
  display: block;
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
  opacity: 1;
  text-align: center;
  color: #fff;
  overflow: hidden;
  -webkit-transform: translate(100px, 0%);
  transform: translate(100px, 0%);
  -webkit-transition: opacity .2s ease, -webkit-transform .3s ease;
  transition: opacity .2s ease, -webkit-transform .3s ease;
  transition: opacity .2s ease, transform .3s ease;
  transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
  margin-top: 0;
  margin-bottom: 0;
  a{
    position: relative;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    z-index: 2;
    display: inline-block;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
}
@media only screen and (max-width: 767px) {
  .nav__list-item{
    opacity: 0;
  }
}
body.nav-active .nav__content {
  visibility: visible;
}
body.nav-active .menu-icon__line {
  background-color: #fff;
  -webkit-transform: translate(0px, 0px) rotate(-45deg);
  transform: translate(0px, 0px) rotate(-45deg);
}
body.nav-active .menu-icon__line-left {
  width: 15px;
  -webkit-transform: translate(2px, 4px) rotate(45deg);
  transform: translate(2px, 4px) rotate(45deg);
}
body.nav-active .menu-icon__line-right {
  width: 15px;
  float: right;
  -webkit-transform: translate(-3px, -3.5px) rotate(45deg);
  transform: translate(-3px, -3.5px) rotate(45deg);
}
body.nav-active .menu-icon:hover .menu-icon__line-left,
body.nav-active .menu-icon:hover .menu-icon__line-right {
  width: 15px;
}
body.nav-active .nav {
  visibility: visible;
}
body.nav-active .nav:before, body.nav-active .nav:after {
  -webkit-transform: translateX(0%) translateY(0%);
  transform: translateX(0%) translateY(0%);
  border-radius: 0;
}
body.nav-active .nav:after {
  -webkit-transition-delay: .1s;
  transition-delay: .1s;
}
body.nav-active .nav:before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
body.nav-active .nav__list-item {
  opacity: 1;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
  transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
  transition: opacity .3s ease, transform .3s ease, color .3s ease;
  transition: opacity .3s ease, transform .3s ease, color .3s ease, -webkit-transform .3s ease;
}
body.nav-active .nav__list-item:nth-child(0) {
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
body.nav-active .nav__list-item:nth-child(1) {
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
body.nav-active .nav__list-item:nth-child(2) {
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
}
body.nav-active .nav__list-item:nth-child(3) {
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}
body.nav-active .nav__list-item:nth-child(4) {
  -webkit-transition-delay: 1.1s;
  transition-delay: 1.1s;
}
body.nav-active .nav__list-item:nth-child(5) {
  -webkit-transition-delay: 1.2s;
  transition-delay: 1.2s;
}
body.nav-active .nav__list-item:nth-child(6) {
  -webkit-transition-delay: 1.3s;
  transition-delay: 1.3s;
}
body.nav-active .nav__list-item:nth-child(7) {
  -webkit-transition-delay: 1.4s;
  transition-delay: 1.4s;
}
body.nav-active .nav__list-item:nth-child(8) {
  -webkit-transition-delay: 1.5s;
  transition-delay: 1.5s;
}
body.nav-active .nav__list-item:nth-child(9) {
  -webkit-transition-delay: 1.6s;
  transition-delay: 1.6s;
}
body.nav-active .nav__list-item:nth-child(10) {
  -webkit-transition-delay: 1.7s;
  transition-delay: 1.7s;
}

.switch-wrap {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 10;
  transform: translateY(-50%);
  width: 100%;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
  margin: 0 auto;
  text-align: center;
}
.switch-wrap h1 {
  margin-bottom: 40px;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}
@media screen and (max-width: 580px){

}
.switch-wrap p span {
  position: relative;
}
.switch-wrap p span:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #fff;
  left: 0;
  bottom: -4px;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}
.switch-wrap p span:nth-child(2):before {
  opacity: 0;
}
#switch,
#circle {
  cursor: pointer;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}
#switch {
  width: 60px;
  height: 8px;
  margin: 0 auto;
  text-align: center;
  border: 2px solid #000;
  border-radius: 27px;
  background: #8167a9;
  position: relative;
  display: inline-block;
}
#circle {
  position: absolute;
  top: -11px;
  left: -13px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
  background: #fff;
}
.switched {
  border-color: #8167a9 !important;
  background: #000 !important;
}
.switched #circle {
  left: 43px;
  background: #000;
}

/* #Light
================================================== */

body.light{
  background-color: #fff;
}
body.light .cursor,
body.light .cursor2,
body.light .cursor3{
  mix-blend-mode: normal;
}
body.light .cursor2{
  border: 2px solid #1f2029;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
body.light .cursor2.hover{
  background: rgba(0,0,0,0.06);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  border-color: transparent;
}
body.light .logo-wrap a {
  color: #1f2029;
}
body.light .menu-icon__line {
  background-color: #1f2029;
}
body.light .nav:before {
  background: rgba(235, 235, 235,0.6);
}
body.light .nav:after {
  background: rgba(250,250,250,1);
}
body.light .nav__list-item a{
  color: rgba(0,0,0,0.6);
}
body.light .nav__list-item a:hover{
  color: #1f2029;
}
body.light .nav__list-item.active-nav a{
  color: #1f2029;
}
body.light .switch-wrap h1 {
  color: #000;
}
body.light .switch-wrap p span:nth-child(2):before {
  opacity: 1;
  background-color: #000;
}
body.light .switch-wrap p span:nth-child(1):before {
  opacity: 0;
}

/* #Link to page
================================================== */

.link-to-portfolio {
  position: fixed;
  bottom: 40px;
  right: 50px;
  z-index: 200;
  cursor: pointer;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 3px;
  background-position: center center;
  background-size: 65%;
  background-repeat: no-repeat;
  background-image: url('https://assets.codepen.io/1462889/fcy.png');
  box-shadow: 0 0 0 2px rgba(255,255,255,.1);
  transition: opacity .2s, border-radius .2s, box-shadow .2s;
  transition-timing-function: ease-out;
}
.link-to-portfolio:hover {
  opacity: 0.8;
  border-radius: 50%;
  box-shadow: 0 0 0 20px rgba(255,255,255,.1);
}
.logo{
  z-index: 100;
  align-self: center;
}
@media only screen and (max-width: 767px) {
  header .container, .what_we_do .container{
    margin: 0 50px;
  }
  .what_we_do .container p{
    font-size: 15px;
  }
  .ui-accordion-content{
    flex-direction: column;
  }
  section{
    padding: 0 50px;
  }
  header{
    position: fixed;
  }
  .nav{
    display: inline-block;
    position: fixed;
  }
  .nav__list{
    display: block;
  }
  .nav__list-item a{
    margin: 20px;
    font-size: 25px;
    height: 25px;
  }
}

a:focus, a:focus-visible, a:focus-within{
  outline: none;
}